.header nav ul {
    padding: 0;
    display: flex;
    gap: 24px;
}

.header nav li {
    display: block;
}

.header a {
    color: var(--color-primary);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}