:root {
  --color-background: #0E0E0E;
  --color-accent: #00FFD4;
  --color-primary: #EFEFEF;
}

@font-face {
  font-family: Jura;
  src: url('/fonts/jura.ttf');
}

* {
  font-family: Jura, sans-serif;
}

body {
  font-weight: 500;
  margin: 0;
  color: var(--color-primary);
  background-color: var(--color-background);
}